.up {
	position: fixed;
	bottom: 30px;
	right: 30px;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	width: 40px;
	height: 40px;
	border-radius: 10px;
	background-color: var(--primary);
	cursor: pointer;
	box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
	transition: all 0.3s;
}

.up:hover {
	background-color: var(--primary-hover);
	box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.up::after,
.up::before {
	position: absolute;
	content: '';
	display: block;
	width: 3px;
	height: 14px;
	background-color: var(--white);
	border-radius: 2px;
}

.up::after {
	right: calc(50% + 3px);
	transform: rotate(45deg);
}

.up::before {
	left: calc(50% + 3px);
	transform: rotate(-45deg);
}
