.button {
	display: inline-flex;
	align-items: center;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid;
	font-size: 14px;
	padding: 10px;
	margin: 0;
	cursor: pointer;
	text-align: center;
	transition: all 0.3s;
}

.primary {
	border-color: var(--white);
	background: var(--primary);
	color: var(--white);
}

.primary:hover {
	background: var(--primary-hover);
}

.ghost {
	border-color: var(--grey);
	background: none;
	color: var(--black);
}

.ghost:hover {
	background: var(--primary);
	color: var(--white);
}

.arrow {
	width: 6px;
	margin-left: 10px;
}

.arrow::after,
.arrow::before {
	height: 8px;
}

.primary .arrow::after,
.primary .arrow::before,
.ghost:hover .arrow::after,
.ghost:hover .arrow::before {
	background-color: var(--white);
}
