.wrap {
	padding-bottom: 50px;
}

.title {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	justify-items: flex-start;
	margin-bottom: 20px;
	gap: 20px;
}

.productsSection {
	display: grid;
	margin-bottom: 50px;
}

.hhSection {
	margin-bottom: 50px;
}

.hhTitle {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	justify-items: flex-start;
	margin-bottom: 20px;
	gap: 20px;
}

.seoSection {
	margin-bottom: 30px;
}

.skillsSection h2 {
	margin-bottom: 20px;
}

.skills {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

@media screen and (max-width: 510px) {
	.title {
		grid-template-columns: auto 1fr;
	}
}
