html,
body {
	margin: 0;
	padding: 0;
	background: var(--background);

	color: var(--black);
	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--background: #F5F6F8;
	--black: #3B434E;
	--white: white;
	--primary: #7653FC;
	--red: #FC836D;
	--additional: #1DC47E;
	--additional-light: #C8F8E4;
	--font-family: 'Noto Sans KR', sans-serif;
}
