html,
body {
  margin: 0;
  padding: 0;
  background: var(--background);

  color: var(--black);
  font-family: var(--font-family);
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --background: #f5f6f8;
  --black: #3b434e;
	--gray-light: #ebebeb;
  --white: white;
  --primary: #7653fc;
  --primary-hover: #6541f7;
  --red: #fc836d;
  --green: #1dc47e;
  --green-light: #c8f8e4;
  --font-family: 'Noto Sans KR', sans-serif;
}
