.tag {
  margin: 0;
  border-radius: 20px;
  padding: 5px 10px;
  width: fit-content;
  display: inline-block;
}

.m {
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
}

.l {
  font-size: 14px;
  line-height: 15px;
  font-weight: 600;
}

.ghost {
  border: 1px solid var(--grey);
}

.red {
  background: #de0000;
  color: var(--white);
}

.gray {
  background: var(--gray);
  color: var(--white);
}

.green {
  background: var(--green-light);
  color: var(--green);
  font-weight: 700;
}

.primary {
  border: 1px solid var(--primary);
  color: var(--primary);
}
