html,
body {
	margin: 0;
	padding: 0;
	background: var(--background);
	color: var(--black);
	font-family: var(--font-family);
}

a {
	text-decoration: none;
	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--background: #F5F6F8;
	--black: #3B434E;
	--gray: #6C7077;
	--grey: #EBEBEB;
	--white: white;
	--primary: #7351F5;
	--primary-hover: #6541F7;
	--red: #FC836D;
	--green: #127A4E;
	--green-light: #C8F8E4;
	--font-family: "Noto Sans KR", sans-serif;
}
