.button {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid;
  font-size: 14px;
  padding: 10px;
  margin: 0;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s;
}

.primary {
  border-color: var(--white);
  background: var(--primary);
  color: var(--white);
}

.primary:hover {
  background: var(--primary-hover);
}

.ghost {
  border-color: var(--grey);
  background: none;
  color: var(--black);
}

.ghost:hover {
  background: var(--primary);
  color: var(--white);
}

.arrow {
  margin-left: 10px;
  display: inline-block;
  transition: all 0.3s;
}

.arrow svg {
  transition: all 0.3s;
}

.down {
  transform: rotate(90deg);
}

.primary svg,
.ghost:hover svg {
  fill: var(--white);
}
