.firstLevel {
	display: grid;
	grid-column-gap: 20px;
	grid-template-columns: 24px 1fr;
	align-items: center;
	height: 24px;
	margin-bottom: 22px;
	font-size: 18px;
	line-height: 24px;
	transition: all 0.3s;
}

.firstLevel svg {
	fill: #787d85;
	transition: all 0.3s;
}

.firstLevelActive,
.firstLevel:hover {
	color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
	fill: var(--primary);
}

.firstLevelSub {
	position: relative;
	height: 0px;
	overflow: hidden;
	margin: 0;
	transition: all 0.3s;
	list-style: none;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 300;
	line-height: 16px;
	color: #787d85;
}

.firstLevelSub::before {
	position: absolute;
	left: 12px;
	display: block;
	content: '';
	width: 1px;
	height: 100%;
	background: #dfdfdf;
}

.firstLevelSubOpen {
	height: auto;
	margin-bottom: 20px;
}

.secondLevel {
	margin: 10px 0;
	cursor: pointer;
}

.secondLevelSub {
	height: 0;
	overflow: hidden;
	font-size: 14px;
	line-height: 19px;
	font-weight: 500;
	text-transform: none;
	list-style: none;
	padding: 0;
}

.secondLevelSubOpen {
	height: auto;
}

.thirdLevel {
	margin: 10px 0;
}

.thirdLevelActive,
.thirdLevel:hover {
	color: var(--primary);
}
